# Python
__pycache__/
*.py[cod]

.venv/
.venv*/
**/.venv/
**/.venv*/

# Environment files
.env
backend/.env

# Database
backend/canteen.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/